@use "styles/text-mixins" as t;
@use "styles/mixins" as m;

.result-block {
  width: 100%;
  background-color: var(--red-600);
  color: var(--white);
  box-shadow: var(--shadow-xl);
  display: flex;
  flex-direction: column;
  padding: 24rem;
  border-radius: 16rem;
  gap: 16rem;

  @include m.max-small-desktop {
    padding: 20rem;
    border-radius: 12rem;
    gap: 12rem;
  }

  @include m.max-tablet {
    padding: 24rem 16rem;
    gap: 8rem;
  }

  @include m.max-mobile {
    box-shadow: var(--shadow-2xl);
    border-radius: 16rem 16rem 0 0;
    gap: 2rem;
    padding-bottom: 32rem;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__total-label {
    @include t.text-2xl;

    @include m.max-tablet {
      @include t.text-xl;
    }

    @include m.max-mobile {
      @include t.text-xl;
    }
  }

  &__total-result {
    @include t.text-4xl;
    font-weight: 600;

    @include m.max-tablet {
      font-size: 26rem;
      font-weight: 500;
    }

    @include m.max-mobile {
      @include t.text-3xl;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    margin-top: 16rem;

    @include m.max-small-desktop {
      gap: 6rem;
      margin-top: 12rem;
    }

    @include m.max-tablet {
      gap: 12rem 6rem;
    }

    @include m.max-mobile {
      gap: 4rem;
      margin-top: 8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__item-label {
    @include t.text-base;
    color: rgba(255, 255, 255, 0.7);

    @include m.max-tablet {
      @include t.text-xs;
    }

    @include m.max-mobile {
      @include t.text-xs;
    }
  }

  &__item-value {
    @include t.text-lg;
    font-weight: 500;

    @include m.max-tablet {
      @include t.text-base;
    }

    @include m.max-mobile {
      @include t.text-sm;
    }
  }
}
