@mixin visually-hidden {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin: -1rem;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin max-small-desktop() {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin max-tablet() {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin max-mobile() {
  @media screen and (max-width: 767px) {
    @content;
  }
}
